<% include ./partials/header %>

<div class="container-fluid" style="margin-top:10%; ">
    <div class="jumbotron" style="background-color:bisque;">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align:center">Please enter a valid URL..</h1>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <form action="/shorten" method="POST">
                      <div class="input-group input-group-lg">
                          <input type="text" class="form-control" name="url"  placeholder="Enter the link here&hellip;">
                          <span class="input-group-btn">
                              <button class="btn btn-lg btn-primary btn-block">Go</button>
                          </span>
                       </div>
                    </form>
                </div>
            </div>
    </div>
</div>

<% include ./partials/footer %>
