<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h1>Here is your shortened URL...</h1><br><br>
                <h3 style="text-align:center; color:brown;"><a href="#" style="text-decoration:none;"><%= shortenUrl %></a></h3>  
            </div>
        </div>
        <p style="margin-left:32%; margin-top:80px;"><a href="/findClicks" class="btn btn-primary btn-lg">Check The total number of clicks from other URL</a></p>
   
    </div>
</div>


<% include ./partials/footer %>